@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    html {
        background: url("../images/pexels-rodnae-productions-6691708.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .flexbox {
        flex-direction: row;
    }
}

/* end of media query */